/********************************************************************************************************************************
********************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
/********************************************************************************************************************************
********************************************************************************************************************************/
/**************************************************************************************************************
***************************************************************************************************************
1. Color
***************************************************************************************************************
**************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
	1. Define the breakpoints at which your layout will change, adapting to different screen sizes.
	2. Extra small screen-phone, Small screen-tablet, Medium screen - desktop, Large screen - wide desktop
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/********************************************************
********************************************************/
/********************************************************
********************************************************/
/* line 4, ../sass/helper/reset/_global.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, ../sass/helper/reset/_global.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, code {
  display: block;
}

/* line 32, ../sass/helper/reset/_global.scss */
body {
  line-height: 1.3333333;
}

/* line 38, ../sass/helper/reset/_global.scss */
ol, ul {
  list-style: none;
}

/********************************************************
********************************************************/
/* line 4, ../sass/helper/_extend.scss */
.margin-1x {
  margin: 15px;
}

/* line 7, ../sass/helper/_extend.scss */
.margin-top-1x {
  margin-top: 15px;
}

/* line 10, ../sass/helper/_extend.scss */
.margin-right-1x {
  margin-right: 15px;
}

/* line 13, ../sass/helper/_extend.scss */
.margin-bottom-1x {
  margin-bottom: 15px;
}

/* line 16, ../sass/helper/_extend.scss */
.margin-left-1x {
  margin-left: 15px;
}

/* line 22, ../sass/helper/_extend.scss */
.margin-2x {
  margin: 30px;
}

/* line 25, ../sass/helper/_extend.scss */
.margin-top-2x {
  margin-top: 30px;
}

/* line 28, ../sass/helper/_extend.scss */
.margin-right-2x {
  margin-right: 30px;
}

/* line 31, ../sass/helper/_extend.scss */
.margin-bottom-2x {
  margin-bottom: 30px;
}

/* line 34, ../sass/helper/_extend.scss */
.margin-left-2x {
  margin-left: 30px;
}

/* line 40, ../sass/helper/_extend.scss */
.margin-none {
  margin: 0;
}

/* line 43, ../sass/helper/_extend.scss */
.margin-top-none {
  margin-top: 0;
}

/* line 46, ../sass/helper/_extend.scss */
.margin-right-none {
  margin-right: 0;
}

/* line 49, ../sass/helper/_extend.scss */
.margin-bottom-none {
  margin-bottom: 0;
}

/* line 52, ../sass/helper/_extend.scss */
.margin-left-none {
  margin-left: 0;
}

/********************************************************
********************************************************/
/********************************************************
********************************************************/
/* line 62, ../sass/helper/_extend.scss */
.padding-1x, code {
  padding: 15px;
}

/* line 65, ../sass/helper/_extend.scss */
.padding-top-1x {
  padding-top: 15px;
}

/* line 68, ../sass/helper/_extend.scss */
.padding-right-1x {
  padding-right: 15px;
}

/* line 71, ../sass/helper/_extend.scss */
.padding-bottom-1x {
  padding-bottom: 15px;
}

/* line 74, ../sass/helper/_extend.scss */
.padding-left-1x {
  padding-left: 15px;
}

/* line 80, ../sass/helper/_extend.scss */
.padding-2x {
  padding: 30px;
}

/* line 83, ../sass/helper/_extend.scss */
.padding-top-2x {
  padding-top: 30px;
}

/* line 86, ../sass/helper/_extend.scss */
.padding-right-2x {
  padding-right: 30px;
}

/* line 89, ../sass/helper/_extend.scss */
.padding-bottom-2x {
  padding-bottom: 30px;
}

/* line 92, ../sass/helper/_extend.scss */
.padding-left-2x {
  padding-left: 30px;
}

/* line 98, ../sass/helper/_extend.scss */
.padding-none {
  padding: 0;
}

/* line 101, ../sass/helper/_extend.scss */
.padding-top-none {
  padding-top: 0;
}

/* line 104, ../sass/helper/_extend.scss */
.padding-right-none {
  padding-right: 0;
}

/* line 107, ../sass/helper/_extend.scss */
.padding-bottom-none {
  padding-bottom: 0;
}

/* line 110, ../sass/helper/_extend.scss */
.padding-left-none {
  padding-left: 0;
}

/********************************************************
********************************************************/
/* line 118, ../sass/helper/_extend.scss */
.heading-one {
  font-size: 32px;
}

/* line 121, ../sass/helper/_extend.scss */
.heading-two {
  font-size: 28px;
}

/* line 124, ../sass/helper/_extend.scss */
.heading-three {
  font-size: 24px;
}

/* line 127, ../sass/helper/_extend.scss */
.heading-four {
  font-size: 20px;
}

/* line 130, ../sass/helper/_extend.scss */
.heading-five {
  font-size: 18px;
}

/* line 133, ../sass/helper/_extend.scss */
.heading-six {
  font-size: 16px;
}

/********************************************************
********************************************************/
/* line 140, ../sass/helper/_extend.scss */
.font-thin {
  font-weight: 100;
}

/* line 143, ../sass/helper/_extend.scss */
.font-extralight {
  font-weight: 200;
}

/* line 146, ../sass/helper/_extend.scss */
.font-light {
  font-weight: 300;
}

/* line 149, ../sass/helper/_extend.scss */
.font-normal {
  font-weight: 400;
}

/* line 152, ../sass/helper/_extend.scss */
.font-semibold {
  font-weight: 500;
}

/* line 155, ../sass/helper/_extend.scss */
.font-medium {
  font-weight: 600;
}

/* line 158, ../sass/helper/_extend.scss */
.font-bold {
  font-weight: 700;
}

/* line 161, ../sass/helper/_extend.scss */
.font-extrabold {
  font-weight: 800;
}

/* line 164, ../sass/helper/_extend.scss */
.font-black {
  font-weight: 900;
}

/********************************************************
********************************************************/
/* line 171, ../sass/helper/_extend.scss */
.font-family-default, body, code {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 175, ../sass/helper/_extend.scss */
.font-family-one {
  font-family: "Roboto", sans-serif;
}

/* line 179, ../sass/helper/_extend.scss */
.font-family-two {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/********************************************************
********************************************************/
/* line 186, ../sass/helper/_extend.scss */
.bg-default, body {
  background: #fff;
}

/* line 189, ../sass/helper/_extend.scss */
.bg-primary, code {
  background: #337ab7;
}

/* line 192, ../sass/helper/_extend.scss */
.bg-secondary {
  background: #337ab7;
}

/********************************************************
********************************************************/
/* line 199, ../sass/helper/_extend.scss */
.font-size-default, code {
  font-size: 14px;
}

/* line 202, ../sass/helper/_extend.scss */
.font-size-large {
  font-size: 16px;
}

/* line 205, ../sass/helper/_extend.scss */
.font-size-small {
  font-size: 12px;
}

/********************************************************
********************************************************/
/* line 212, ../sass/helper/_extend.scss */
.text-black, body {
  color: #000;
}

/* line 215, ../sass/helper/_extend.scss */
.text-white, code {
  color: #fff;
}

/* line 218, ../sass/helper/_extend.scss */
.text-brand-one {
  color: #337ab7;
}

/********************************************************
********************************************************/
/* line 225, ../sass/helper/_extend.scss */
.block {
  display: block;
}

/* line 228, ../sass/helper/_extend.scss */
.inline {
  display: inline;
}

/* line 231, ../sass/helper/_extend.scss */
.inline-block {
  display: inline-block;
}

/* line 234, ../sass/helper/_extend.scss */
.inline-table {
  display: inline-table;
}

/* line 237, ../sass/helper/_extend.scss */
.flex {
  display: flex;
}

/********************************************************
********************************************************/
/* line 244, ../sass/helper/_extend.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*****************************
*****************************/
/* line 1, ../sass/component/_global.scss */
body {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
}

/* line 1, ../sass/component/_button.scss */
.btn {
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  background: #eeeeee;
  color: #000;
  display: inline-block;
  vertical-align: bottom;
}
/* line 3, ../sass/component/_button.scss */
.btn .btn-xs {
  padding: 5px 15px;
  font-size: 14px;
  line-height: 1.3333333;
  border-radius: 4px;
}

/* line 19, ../sass/component/_button.scss */
.btn-default {
  border: 1px solid;
  background: #eeeeee;
  color: #000;
  position: relative;
  overflow: hidden;
  border: 1px solid;
  border-color: #d5d5d5;
}
/* line 31, ../sass/helper/mixins/_buttons.scss */
.btn-default.focus {
  color: #333;
  background-color: #d5d5d5;
  border-color: #afafaf;
}
/* line 36, ../sass/helper/mixins/_buttons.scss */
.btn-default:hover {
  color: #333;
  background-color: #d5d5d5;
  border: 1px solid;
  border-color: #bebebe;
}
/* line 42, ../sass/helper/mixins/_buttons.scss */
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #333;
  background-color: #d5d5d5;
  border: 1px solid;
  border-color: #d0d0d0;
}
/* line 49, ../sass/helper/mixins/_buttons.scss */
.btn-default:active:hover, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle.focus {
  color: #333;
  background-color: #c3c3c3;
  border: 1px solid;
  border-color: #afafaf;
}
/* line 59, ../sass/helper/mixins/_buttons.scss */
.btn-default .btn-bubble:active {
  background-color: black;
}
/* line 64, ../sass/helper/mixins/_buttons.scss */
.btn-default.active, .open > .btn-default.dropdown-toggle {
  background-image: none;
}
/* line 71, ../sass/helper/mixins/_buttons.scss */
.btn-default.disabled:hover, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled].focus, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default.focus {
  background-color: #eeeeee;
  border: 1px solid;
  border-color: #eeeeee;
}
/* line 79, ../sass/helper/mixins/_buttons.scss */
.btn-default .badge {
  color: #eeeeee;
  background-color: #333;
}
/* line 84, ../sass/helper/mixins/_buttons.scss */
.btn-default .txt {
  position: relative;
  z-index: 2;
}
/* line 88, ../sass/helper/mixins/_buttons.scss */
.btn-default .ink {
  display: block;
  position: absolute;
  background: #bbbbbb;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}
/* line 99, ../sass/helper/mixins/_buttons.scss */
.btn-default .animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/* line 22, ../sass/component/_button.scss */
.btn-primary {
  border: 1px solid;
  background: #337ab7;
  color: #fff;
  position: relative;
  overflow: hidden;
  border-color: #285f8f;
}
/* line 31, ../sass/helper/mixins/_buttons.scss */
.btn-primary.focus {
  color: #fff;
  background-color: #285f8f;
  border-color: #173853;
}
/* line 36, ../sass/helper/mixins/_buttons.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #285f8f;
  border: 1px solid;
  border-color: #1e476b;
}
/* line 42, ../sass/helper/mixins/_buttons.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #285f8f;
  border: 1px solid;
  border-color: #265a87;
}
/* line 49, ../sass/helper/mixins/_buttons.scss */
.btn-primary:active:hover, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #204d73;
  border: 1px solid;
  border-color: #173853;
}
/* line 59, ../sass/helper/mixins/_buttons.scss */
.btn-primary .btn-bubble:active {
  background-color: black;
}
/* line 64, ../sass/helper/mixins/_buttons.scss */
.btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}
/* line 71, ../sass/helper/mixins/_buttons.scss */
.btn-primary.disabled:hover, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border: 1px solid;
  border-color: #337ab7;
}
/* line 79, ../sass/helper/mixins/_buttons.scss */
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
/* line 84, ../sass/helper/mixins/_buttons.scss */
.btn-primary .txt {
  position: relative;
  z-index: 2;
}
/* line 88, ../sass/helper/mixins/_buttons.scss */
.btn-primary .ink {
  display: block;
  position: absolute;
  background: #1d4567;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}
/* line 99, ../sass/helper/mixins/_buttons.scss */
.btn-primary .animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/* line 25, ../sass/component/_button.scss */
.btn-success {
  border: 1px solid;
  background: #5cb85c;
  color: #fff;
  position: relative;
  overflow: hidden;
  border-color: #449d44;
}
/* line 31, ../sass/helper/mixins/_buttons.scss */
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #2d672d;
}
/* line 36, ../sass/helper/mixins/_buttons.scss */
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border: 1px solid;
  border-color: #367d36;
}
/* line 42, ../sass/helper/mixins/_buttons.scss */
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border: 1px solid;
  border-color: #419641;
}
/* line 49, ../sass/helper/mixins/_buttons.scss */
.btn-success:active:hover, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #398439;
  border: 1px solid;
  border-color: #2d672d;
}
/* line 59, ../sass/helper/mixins/_buttons.scss */
.btn-success .btn-bubble:active {
  background-color: black;
}
/* line 64, ../sass/helper/mixins/_buttons.scss */
.btn-success.active, .open > .btn-success.dropdown-toggle {
  background-image: none;
}
/* line 71, ../sass/helper/mixins/_buttons.scss */
.btn-success.disabled:hover, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled].focus, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border: 1px solid;
  border-color: #5cb85c;
}
/* line 79, ../sass/helper/mixins/_buttons.scss */
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
/* line 84, ../sass/helper/mixins/_buttons.scss */
.btn-success .txt {
  position: relative;
  z-index: 2;
}
/* line 88, ../sass/helper/mixins/_buttons.scss */
.btn-success .ink {
  display: block;
  position: absolute;
  background: #357935;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}
/* line 99, ../sass/helper/mixins/_buttons.scss */
.btn-success .animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/* line 28, ../sass/component/_button.scss */
.btn-info {
  border: 1px solid;
  background: #5bc0de;
  color: #fff;
  position: relative;
  overflow: hidden;
  border-color: #31b0d5;
}
/* line 31, ../sass/helper/mixins/_buttons.scss */
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1f7e9a;
}
/* line 36, ../sass/helper/mixins/_buttons.scss */
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border: 1px solid;
  border-color: #2493b4;
}
/* line 42, ../sass/helper/mixins/_buttons.scss */
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #31b0d5;
  border: 1px solid;
  border-color: #2aabd2;
}
/* line 49, ../sass/helper/mixins/_buttons.scss */
.btn-info:active:hover, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle.focus {
  color: #fff;
  background-color: #269abc;
  border: 1px solid;
  border-color: #1f7e9a;
}
/* line 59, ../sass/helper/mixins/_buttons.scss */
.btn-info .btn-bubble:active {
  background-color: black;
}
/* line 64, ../sass/helper/mixins/_buttons.scss */
.btn-info.active, .open > .btn-info.dropdown-toggle {
  background-image: none;
}
/* line 71, ../sass/helper/mixins/_buttons.scss */
.btn-info.disabled:hover, .btn-info.disabled.focus, .btn-info[disabled]:hover, .btn-info[disabled].focus, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border: 1px solid;
  border-color: #5bc0de;
}
/* line 79, ../sass/helper/mixins/_buttons.scss */
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
/* line 84, ../sass/helper/mixins/_buttons.scss */
.btn-info .txt {
  position: relative;
  z-index: 2;
}
/* line 88, ../sass/helper/mixins/_buttons.scss */
.btn-info .ink {
  display: block;
  position: absolute;
  background: #2390b0;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}
/* line 99, ../sass/helper/mixins/_buttons.scss */
.btn-info .animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/* line 31, ../sass/component/_button.scss */
.btn-warning {
  border: 1px solid;
  background: #f0ad4e;
  color: #fff;
  position: relative;
  overflow: hidden;
  border-color: #ec971f;
}
/* line 31, ../sass/helper/mixins/_buttons.scss */
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #b06d0f;
}
/* line 36, ../sass/helper/mixins/_buttons.scss */
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border: 1px solid;
  border-color: #cc7f11;
}
/* line 42, ../sass/helper/mixins/_buttons.scss */
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  border: 1px solid;
  border-color: #eb9316;
}
/* line 49, ../sass/helper/mixins/_buttons.scss */
.btn-warning:active:hover, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle.focus {
  color: #fff;
  background-color: #d58512;
  border: 1px solid;
  border-color: #b06d0f;
}
/* line 59, ../sass/helper/mixins/_buttons.scss */
.btn-warning .btn-bubble:active {
  background-color: black;
}
/* line 64, ../sass/helper/mixins/_buttons.scss */
.btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-image: none;
}
/* line 71, ../sass/helper/mixins/_buttons.scss */
.btn-warning.disabled:hover, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border: 1px solid;
  border-color: #f0ad4e;
}
/* line 79, ../sass/helper/mixins/_buttons.scss */
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
/* line 84, ../sass/helper/mixins/_buttons.scss */
.btn-warning .txt {
  position: relative;
  z-index: 2;
}
/* line 88, ../sass/helper/mixins/_buttons.scss */
.btn-warning .ink {
  display: block;
  position: absolute;
  background: #c77c11;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}
/* line 99, ../sass/helper/mixins/_buttons.scss */
.btn-warning .animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/* line 34, ../sass/component/_button.scss */
.btn-danger {
  border: 1px solid;
  background: #d9534f;
  color: #fff;
  position: relative;
  overflow: hidden;
  border-color: #c9302c;
}
/* line 31, ../sass/helper/mixins/_buttons.scss */
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #8b211e;
}
/* line 36, ../sass/helper/mixins/_buttons.scss */
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border: 1px solid;
  border-color: #a42723;
}
/* line 42, ../sass/helper/mixins/_buttons.scss */
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  border: 1px solid;
  border-color: #c12e2a;
}
/* line 49, ../sass/helper/mixins/_buttons.scss */
.btn-danger:active:hover, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #ac2925;
  border: 1px solid;
  border-color: #8b211e;
}
/* line 59, ../sass/helper/mixins/_buttons.scss */
.btn-danger .btn-bubble:active {
  background-color: black;
}
/* line 64, ../sass/helper/mixins/_buttons.scss */
.btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-image: none;
}
/* line 71, ../sass/helper/mixins/_buttons.scss */
.btn-danger.disabled:hover, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border: 1px solid;
  border-color: #d9534f;
}
/* line 79, ../sass/helper/mixins/_buttons.scss */
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
/* line 84, ../sass/helper/mixins/_buttons.scss */
.btn-danger .txt {
  position: relative;
  z-index: 2;
}
/* line 88, ../sass/helper/mixins/_buttons.scss */
.btn-danger .ink {
  display: block;
  position: absolute;
  background: #a02622;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}
/* line 99, ../sass/helper/mixins/_buttons.scss */
.btn-danger .animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
