/********************************************************************************************************************************
********************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
/********************************************************************************************************************************
********************************************************************************************************************************/
/**************************************************************************************************************
***************************************************************************************************************
1. Color
***************************************************************************************************************
**************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
	1. Define the breakpoints at which your layout will change, adapting to different screen sizes.
	2. Extra small screen-phone, Small screen-tablet, Medium screen - desktop, Large screen - wide desktop
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/********************************************************
********************************************************/
/********************************************************
********************************************************/
/* line 4, ../sass/helper/reset/_global.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, ../sass/helper/reset/_global.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../sass/helper/reset/_global.scss */
body {
  line-height: 1.3333333;
}

/* line 38, ../sass/helper/reset/_global.scss */
ol, ul {
  list-style: none;
}

/********************************************************
********************************************************/
/* line 4, ../sass/helper/_extend.scss */
.margin-1x {
  margin: 15px;
}

/* line 7, ../sass/helper/_extend.scss */
.margin-top-1x {
  margin-top: 15px;
}

/* line 10, ../sass/helper/_extend.scss */
.margin-right-1x {
  margin-right: 15px;
}

/* line 13, ../sass/helper/_extend.scss */
.margin-bottom-1x {
  margin-bottom: 15px;
}

/* line 16, ../sass/helper/_extend.scss */
.margin-left-1x {
  margin-left: 15px;
}

/* line 22, ../sass/helper/_extend.scss */
.margin-2x {
  margin: 30px;
}

/* line 25, ../sass/helper/_extend.scss */
.margin-top-2x {
  margin-top: 30px;
}

/* line 28, ../sass/helper/_extend.scss */
.margin-right-2x {
  margin-right: 30px;
}

/* line 31, ../sass/helper/_extend.scss */
.margin-bottom-2x {
  margin-bottom: 30px;
}

/* line 34, ../sass/helper/_extend.scss */
.margin-left-2x {
  margin-left: 30px;
}

/* line 40, ../sass/helper/_extend.scss */
.margin-none {
  margin: 0;
}

/* line 43, ../sass/helper/_extend.scss */
.margin-top-none {
  margin-top: 0;
}

/* line 46, ../sass/helper/_extend.scss */
.margin-right-none {
  margin-right: 0;
}

/* line 49, ../sass/helper/_extend.scss */
.margin-bottom-none {
  margin-bottom: 0;
}

/* line 52, ../sass/helper/_extend.scss */
.margin-left-none {
  margin-left: 0;
}

/********************************************************
********************************************************/
/********************************************************
********************************************************/
/* line 62, ../sass/helper/_extend.scss */
.padding-1x, code {
  padding: 15px;
}

/* line 65, ../sass/helper/_extend.scss */
.padding-top-1x {
  padding-top: 15px;
}

/* line 68, ../sass/helper/_extend.scss */
.padding-right-1x {
  padding-right: 15px;
}

/* line 71, ../sass/helper/_extend.scss */
.padding-bottom-1x {
  padding-bottom: 15px;
}

/* line 74, ../sass/helper/_extend.scss */
.padding-left-1x {
  padding-left: 15px;
}

/* line 80, ../sass/helper/_extend.scss */
.padding-2x {
  padding: 30px;
}

/* line 83, ../sass/helper/_extend.scss */
.padding-top-2x {
  padding-top: 30px;
}

/* line 86, ../sass/helper/_extend.scss */
.padding-right-2x {
  padding-right: 30px;
}

/* line 89, ../sass/helper/_extend.scss */
.padding-bottom-2x {
  padding-bottom: 30px;
}

/* line 92, ../sass/helper/_extend.scss */
.padding-left-2x {
  padding-left: 30px;
}

/* line 98, ../sass/helper/_extend.scss */
.padding-none {
  padding: 0;
}

/* line 101, ../sass/helper/_extend.scss */
.padding-top-none {
  padding-top: 0;
}

/* line 104, ../sass/helper/_extend.scss */
.padding-right-none {
  padding-right: 0;
}

/* line 107, ../sass/helper/_extend.scss */
.padding-bottom-none {
  padding-bottom: 0;
}

/* line 110, ../sass/helper/_extend.scss */
.padding-left-none {
  padding-left: 0;
}

/********************************************************
********************************************************/
/* line 118, ../sass/helper/_extend.scss */
.heading-one {
  font-size: 32px;
}

/* line 121, ../sass/helper/_extend.scss */
.heading-two {
  font-size: 28px;
}

/* line 124, ../sass/helper/_extend.scss */
.heading-three {
  font-size: 24px;
}

/* line 127, ../sass/helper/_extend.scss */
.heading-four {
  font-size: 20px;
}

/* line 130, ../sass/helper/_extend.scss */
.heading-five {
  font-size: 18px;
}

/* line 133, ../sass/helper/_extend.scss */
.heading-six {
  font-size: 16px;
}

/********************************************************
********************************************************/
/* line 140, ../sass/helper/_extend.scss */
.font-thin {
  font-weight: 100;
}

/* line 143, ../sass/helper/_extend.scss */
.font-extralight {
  font-weight: 200;
}

/* line 146, ../sass/helper/_extend.scss */
.font-light {
  font-weight: 300;
}

/* line 149, ../sass/helper/_extend.scss */
.font-normal {
  font-weight: 400;
}

/* line 152, ../sass/helper/_extend.scss */
.font-semibold {
  font-weight: 500;
}

/* line 155, ../sass/helper/_extend.scss */
.font-medium {
  font-weight: 600;
}

/* line 158, ../sass/helper/_extend.scss */
.font-bold {
  font-weight: 700;
}

/* line 161, ../sass/helper/_extend.scss */
.font-extrabold {
  font-weight: 800;
}

/* line 164, ../sass/helper/_extend.scss */
.font-black {
  font-weight: 900;
}

/********************************************************
********************************************************/
/* line 171, ../sass/helper/_extend.scss */
.font-family-default, body, code {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 175, ../sass/helper/_extend.scss */
.font-family-one {
  font-family: "Roboto", sans-serif;
}

/* line 179, ../sass/helper/_extend.scss */
.font-family-two {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/********************************************************
********************************************************/
/* line 186, ../sass/helper/_extend.scss */
.bg-default, body {
  background: #fff;
}

/* line 189, ../sass/helper/_extend.scss */
.bg-primary, code {
  background: #337ab7;
}

/* line 192, ../sass/helper/_extend.scss */
.bg-secondary {
  background: #337ab7;
}

/********************************************************
********************************************************/
/* line 199, ../sass/helper/_extend.scss */
.font-size-default, code {
  font-size: 14px;
}

/* line 202, ../sass/helper/_extend.scss */
.font-size-large {
  font-size: 16px;
}

/* line 205, ../sass/helper/_extend.scss */
.font-size-small {
  font-size: 12px;
}

/********************************************************
********************************************************/
/* line 212, ../sass/helper/_extend.scss */
.text-black, body {
  color: #000;
}

/* line 215, ../sass/helper/_extend.scss */
.text-white, code {
  color: #fff;
}

/* line 218, ../sass/helper/_extend.scss */
.text-brand-one {
  color: #337ab7;
}

/********************************************************
********************************************************/
/* line 225, ../sass/helper/_extend.scss */
.block {
  display: block;
}

/* line 228, ../sass/helper/_extend.scss */
.inline {
  display: inline;
}

/* line 231, ../sass/helper/_extend.scss */
.inline-block {
  display: inline-block;
}

/* line 234, ../sass/helper/_extend.scss */
.inline-table {
  display: inline-table;
}

/* line 237, ../sass/helper/_extend.scss */
.flex {
  display: flex;
}

/********************************************************
********************************************************/
/* line 244, ../sass/helper/_extend.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*****************************
*****************************/
/* line 1, ../sass/component/_global.scss */
body {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
}

/* line 21, ../sass/component/_button.scss */
.btn {
  color: #fff;
  background-color: #777777;
  border-color: #6a6a6a;
  padding: 5px 15px;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  outline: none;
}
/* line 14, ../sass/helper/mixins/_buttons.scss */
.btn:focus, .btn.focus {
  color: #fff;
  background-color: #5e5e5e;
  border-color: #2b2b2b;
}
/* line 20, ../sass/helper/mixins/_buttons.scss */
.btn:hover {
  color: #fff;
  background-color: #5e5e5e;
  border-color: #4c4c4c;
  border: 1px solid;
}
/* line 26, ../sass/helper/mixins/_buttons.scss */
.btn:active, .btn.active, .open > .btn.dropdown-toggle {
  color: #fff;
  background-color: #5e5e5e;
  border-color: #4c4c4c;
}
/* line 32, ../sass/helper/mixins/_buttons.scss */
.btn:active:hover, .btn:active:focus, .btn:active.focus, .btn.active:hover, .btn.active:focus, .btn.active.focus, .open > .btn.dropdown-toggle:hover, .open > .btn.dropdown-toggle:focus, .open > .btn.dropdown-toggle.focus {
  color: #fff;
  background-color: #4c4c4c;
  border-color: #2b2b2b;
}
/* line 40, ../sass/helper/mixins/_buttons.scss */
.btn:active, .btn.active, .open > .btn.dropdown-toggle {
  background-image: none;
}
/* line 48, ../sass/helper/mixins/_buttons.scss */
.btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn.focus {
  background-color: #777777;
  border-color: #6a6a6a;
}
/* line 55, ../sass/helper/mixins/_buttons.scss */
.btn .badge {
  color: #777777;
  background-color: #fff;
}
