/********************************************************************************************************************************
********************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
/********************************************************************************************************************************
********************************************************************************************************************************/
/**************************************************************************************************************
***************************************************************************************************************
1. Color
***************************************************************************************************************
**************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
	1. Define the breakpoints at which your layout will change, adapting to different screen sizes.
	2. Extra small screen-phone, Small screen-tablet, Medium screen - desktop, Large screen - wide desktop
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/********************************************************
********************************************************/
/* line 4, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.margin-none {
  margin: 0; }

/* line 7, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.margin-top-none {
  margin-top: 0; }

/* line 10, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.margin-right-none {
  margin-right: 0; }

/* line 13, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.margin-bottom-none {
  margin-bottom: 0; }

/* line 16, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.margin-left-none {
  margin-left: 0; }

/********************************************************
********************************************************/
/********************************************************
********************************************************/
/* line 25, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.padding-none {
  padding: 0; }

/* line 28, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.padding-top-none {
  padding-top: 0; }

/* line 31, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.padding-right-none {
  padding-right: 0; }

/* line 34, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.padding-bottom-none {
  padding-bottom: 0; }

/* line 37, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.padding-left-none {
  padding-left: 0; }

/********************************************************
********************************************************/
/* line 44, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.heading-one {
  font-size: 32px; }

/* line 47, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.heading-two {
  font-size: 28px; }

/* line 50, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.heading-three {
  font-size: 24px; }

/* line 53, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.heading-four {
  font-size: 20px; }

/* line 56, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.heading-five {
  font-size: 18px; }

/* line 59, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.heading-six {
  font-size: 16px; }

/********************************************************
********************************************************/
/* line 66, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.text-thin {
  font-weight: 100; }

/* line 69, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.text-extralight {
  font-weight: 200; }

/* line 72, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.text-light {
  font-weight: 300; }

/* line 75, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.text-normal {
  font-weight: 400; }

/* line 78, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.text-semibold {
  font-weight: 500; }

/* line 81, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.text-medium {
  font-weight: 600; }

/* line 84, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.text-bold {
  font-weight: 700; }

/* line 87, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.text-extrabold {
  font-weight: 800; }

/* line 90, D:/KP/2017/CSS FRAMEWORK/sass/helper/_extend.scss */
.text-black {
  font-weight: 900; }

/********************************************************
********************************************************/
/*****************************
*****************************/
/* line 1, D:/KP/2017/CSS FRAMEWORK/sass/component/_global.scss */
body {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent); }

/*# sourceMappingURL=style.css.map */