/********************************************************************************************************************************
********************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
/********************************************************************************************************************************
********************************************************************************************************************************/
/**************************************************************************************************************
***************************************************************************************************************
1. Color
***************************************************************************************************************
**************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
	1. Define the breakpoints at which your layout will change, adapting to different screen sizes.
	2. Extra small screen-phone, Small screen-tablet, Medium screen - desktop, Large screen - wide desktop
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/********************************************************
********************************************************/
/* line 4, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.margin-none {
  margin: 0; }

/* line 7, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.margin-top-none {
  margin-top: 0; }

/* line 10, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.margin-right-none {
  margin-right: 0; }

/* line 13, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.margin-bottom-none {
  margin-bottom: 0; }

/* line 16, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.margin-left-none {
  margin-left: 0; }

/********************************************************
********************************************************/
/********************************************************
********************************************************/
/* line 25, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-none {
  padding: 0; }

/* line 28, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-top-none {
  padding-top: 0; }

/* line 31, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-right-none {
  padding-right: 0; }

/* line 34, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-bottom-none {
  padding-bottom: 0; }

/* line 37, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-left-none {
  padding-left: 0; }

/* line 43, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-1x, code {
  padding: 15px; }

/* line 46, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-top-1x {
  padding-top: 15px; }

/* line 49, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-right-1x {
  padding-right: 15px; }

/* line 52, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-bottom-1x {
  padding-bottom: 15px; }

/* line 55, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-left-1x {
  padding-left: 15px; }

/* line 60, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-2x {
  padding: 30px; }

/* line 63, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-top-2x {
  padding-top: 30px; }

/* line 66, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-right-2x {
  padding-right: 30px; }

/* line 69, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-bottom-2x {
  padding-bottom: 30px; }

/* line 72, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.padding-left-2x {
  padding-left: 30px; }

/********************************************************
********************************************************/
/* line 80, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.heading-one {
  font-size: 32px; }

/* line 83, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.heading-two {
  font-size: 28px; }

/* line 86, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.heading-three {
  font-size: 24px; }

/* line 89, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.heading-four {
  font-size: 20px; }

/* line 92, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.heading-five {
  font-size: 18px; }

/* line 95, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.heading-six {
  font-size: 16px; }

/********************************************************
********************************************************/
/* line 102, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-thin {
  font-weight: 100; }

/* line 105, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-extralight {
  font-weight: 200; }

/* line 108, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-light {
  font-weight: 300; }

/* line 111, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-normal {
  font-weight: 400; }

/* line 114, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-semibold {
  font-weight: 500; }

/* line 117, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-medium {
  font-weight: 600; }

/* line 120, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-bold {
  font-weight: 700; }

/* line 123, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-extrabold {
  font-weight: 800; }

/* line 126, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-black {
  font-weight: 900; }

/********************************************************
********************************************************/
/* line 133, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-family-default, body, code {
  font-family: "Source Sans Pro", sans-serif; }

/* line 137, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-family-one {
  font-family: "Roboto", sans-serif; }

/* line 141, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-family-two {
  font-family: Georgia, "Times New Roman", Times, serif; }

/********************************************************
********************************************************/
/* line 148, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.bg-default, body {
  background: #fff; }

/* line 151, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.bg-primary, code {
  background: #337ab7; }

/* line 154, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.bg-secondary {
  background: #337ab7; }

/********************************************************
********************************************************/
/* line 161, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-size-default, code {
  font-size: 14px; }

/* line 164, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-size-large {
  font-size: 16px; }

/* line 167, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.font-size-small {
  font-size: 12px; }

/********************************************************
********************************************************/
/* line 174, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.text-black, body {
  color: #000; }

/* line 177, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.text-white, code {
  color: #fff; }

/* line 180, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.text-brand-one {
  color: #337ab7; }

/********************************************************
********************************************************/
/* line 187, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.block {
  display: block; }

/* line 190, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.inline {
  display: inline; }

/* line 193, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.inline-block {
  display: inline-block; }

/* line 196, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.inline-table {
  display: inline-table; }

/* line 199, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/helper/_extend.scss */
.flex {
  display: flex; }

/*****************************
*****************************/
/* line 1, D:/KP/2017/CSS FRAMEWORK/Inspideez_css/sass/component/_global.scss */
body {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent); }

/*# sourceMappingURL=style.css.map */