//animation-fade-down
.animation-fade-down-open{
  animation: animation-fade-down-open $transition-function-default $transition-time-default;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
  -webkit-animation: animation-fade-down-open $transition-function-default $transition-time-default;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 0%;
  -moz-animation: animation-fade-down-open $transition-function-default $transition-time-default;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 0%;
  -o-animation: animation-fade-down-open $transition-function-default $transition-time-default;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 0%;
  -ms-animation: animation-fade-down-open $transition-function-default $transition-time-default;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 0%;
}

@keyframes animation-fade-down-open{
  0% {
    opacity:0;
    transform:  scaleY(0.00) ;
  }
  100% {
    opacity:1.00;
    transform:  scaleY(1.00) ;
  }
}

@-moz-keyframes animation-fade-down-open{
  0% {
    opacity:0;
    -moz-transform:  scaleY(0.00) ;
  }
  100% {
    opacity:1.00;
    -moz-transform:  scaleY(1.00) ;
  }
}

@-webkit-keyframes animation-fade-down-open {
  0% {
    opacity:0;
    -webkit-transform:  scaleY(0.00) ;
  }
  100% {
    opacity:1.00;
    -webkit-transform:  scaleY(1.00) ;
  }
}

@-o-keyframes animation-fade-down-open {
  0% {
    opacity:0;
    -o-transform:  scaleY(0.00) ;
  }
  100% {
    opacity:1.00;
    -o-transform:  scaleY(1.00) ;
  }
}

@-ms-keyframes animation-fade-down-open {
  0% {
    opacity:0;
    -ms-transform:  scaleY(0.00) ;
  }
  100% {
    opacity:1.00;
    -ms-transform:  scaleY(1.00) ;
  }
}
/*.animation-fade-down-open*/

/*.animation-fade-up-close*/
.animation-fade-up-close{
  animation: animation-fade-up-close $transition-function-default $transition-time-default;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
  -webkit-animation: animation-fade-up-close $transition-function-default $transition-time-default;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 0%;
  -moz-animation: animation-fade-up-close $transition-function-default $transition-time-default;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 0%;
  -o-animation: animation-fade-up-close $transition-function-default $transition-time-default;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 0%;
  -ms-animation: animation-fade-up-close $transition-function-default $transition-time-default;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 0%;
}

@keyframes animation-fade-up-close{
  0% {
    opacity:1;
    transform:  scaleY(1.00) ;
  }
  100% {
    opacity:0;
    transform:  scaleY(0.00) ;
  }
}

@-moz-keyframes animation-fade-up-close{
  0% {
    opacity:1;
    -moz-transform:  scaleY(1.00) ;
  }
  100% {
    opacity:0;
    -moz-transform:  scaleY(0.00) ;
  }
}

@-webkit-keyframes animation-fade-up-close {
  0% {
    opacity:1;
    -webkit-transform:  scaleY(1.00) ;
  }
  100% {
    opacity:0;
    -webkit-transform:  scaleY(0.00) ;
  }
}

@-o-keyframes animation-fade-up-close {
  0% {
    opacity:1;
    -o-transform:  scaleY(1.00) ;
  }
  100% {
    opacity:0;
    -o-transform:  scaleY(0.00) ;
  }
}

@-ms-keyframes animation-fade-up-close {
  0% {
    opacity:1;
    -ms-transform:  scaleY(1.00) ;
  }
  100% {
    opacity:0;
    -ms-transform:  scaleY(0.00) ;
  }
}
/*.animation-fade-up-close*/
