// Grid system
//
// Generate semantic grid columns with these mixins.

// Centered container element
@mixin igGrid($columns: 12) {
    display: -webkit-grid;
    display: grid;
    -webkit-grid-template-columns: repeat($columns, 1fr);
    grid-template-columns: repeat($columns, 1fr);
    background-color: #ccc;
    grid-column-gap: $padding-default * 2;
}
