body{
	background: $clr-white;
	@extend .font-family-default;
	@extend .bg-default;
	@extend .text-black;
    font-size: $font-size-default;
}
code{
	@extend .font-family-default;
	@extend .bg-primary;
	@extend .padding-1x;
	@extend .font-size-default;
	@extend .text-white;
	
}
hr{
    clear: both;
}
a{
    text-decoration: none
}
p{
    margin-bottom: $padding-default;
}