//
// inpideez Grid system
// --------------------------------------------------
//----------------------------------------------
//[class^="grid-xs-"],
[class^="grid-s-"],
[class^="grid-m-"],
[class^="grid-l-"] {
    @include igGrid(1);
}
[class^="grid-"] {
    >div {
        border: 1px solid #9e9e9e;
        min-height: 30px;
        margin-bottom: 30px;
        text-align: center;
        background: #ded3d3
    }
}
//--------------------------------------//

/*==========  Mobile First Method  ==========*/

.grid-xs-12 {
    @include igGrid();
}
.grid-xs-11 {
    @include igGrid(11);
}
.grid-xs-10 {
    @include igGrid(10);
}
.grid-xs-9 {
    @include igGrid(9);
}
.grid-xs-8 {
    @include igGrid(8);
}
.grid-xs-7 {
    @include igGrid(7);
}
.grid-xs-6 {
    @include igGrid(6);
}
.grid-xs-5 {
    @include igGrid(5);
}
.grid-xs-4 {
    @include igGrid(4);
}
.grid-xs-3 {
    @include igGrid(3);
}
.grid-xs-2 {
    @include igGrid(2);
}
.grid-xs-1 {
    @include igGrid(1);
}
//column width---------------------------------------//
.col-xs-1 {
    grid-column-start: span 1;
}
.col-xs-2 {
    grid-column-start: span 2;
}
.col-xs-3 {
    grid-column-start: span 3;
}
.col-xs-4 {
    grid-column-start: span 4;
}
.col-xs-5 {
    grid-column-start: span 5;
}
.col-xs-6 {
    grid-column-start: span 6;
}
.col-xs-7 {
    grid-column-start: span 7;
}
.col-xs-8 {
    grid-column-start: span 8;
}
.col-xs-9 {
    grid-column-start: span 9;
}
.col-xs-10 {
    grid-column-start: span 10;
}
.col-xs-11 {
    grid-column-start: span 11;
}
.col-xs-12 {
    grid-column-start: span 12;
}
//column start width---------------------------------------//
.col-str-xs-1 {
    grid-column-start: 1;
}
.col-str-xs-2 {
    grid-column-start: 2;
}
.col-str-xs-3 {
    grid-column-start: 3;
}
.col-str-xs-4 {
    grid-column-start: 4;
}
.col-str-xs-5 {
    grid-column-start: 5;
}
.col-str-xs-6 {
    grid-column-start: 6;
}
.col-str-xs-7 {
    grid-column-start: 7;
}
.co-strl-xs-8 {
    grid-column-start: 8;
}
.col-str-xs-9 {
    grid-column-start: 9;
}
.col-str-xs-10 {
    grid-column-start: 10;
}
.col-str-xs-11 {
    grid-column-start: 11;
}
.col-str-xs-12 {
    grid-column-start: 12;
}
.col-str-xs-13 {
    grid-column-start: 13;
}
//column end width---------------------------------------//
.col-end-xs-1 {
    grid-column-end: 1;
}
.col-end-xs-2 {
    grid-column-end: 2;
}
.col-end-xs-3 {
    grid-column-end: 3;
}
.col-end-xs-4 {
    grid-column-end: 4;
}
.col-end-xs-5 {
    grid-column-end: 5;
}
.col-end-xs-6 {
    grid-column-end: 6;
}
.col-end-xs-7 {
    grid-column-end: 7;
}
.co-endl-xs-8 {
    grid-column-end: 8;
}
.col-end-xs-9 {
    grid-column-end: 9;
}
.col-end-xs-10 {
    grid-column-end: 10;
}
.col-end-xs-11 {
    grid-column-end: 11;
}
.col-end-xs-12 {
    grid-column-end: 12;
}
.col-end-xs-13 {
    grid-column-end: 13;
}
//column order width---------------------------------------//
.col-ord-xs-1 {
    order: 1;
}
.col-ord-xs-2 {
    order: 2;
}
.col-ord-xs-3 {
    order: 3;
}
.col-ord-xs-4 {
    order: 4;
}
.col-ord-xs-5 {
    order: 5;
}
.col-ord-xs-6 {
    order: 6;
}
.col-ord-xs-7 {
    order: 7;
}
.co-endl-xs-8 {
    order: 8;
}
.col-ord-xs-9 {
    order: 9;
}
.col-ord-xs-10 {
    order: 10;
}
.col-ord-xs-11 {
    order: 11;
}
.col-ord-xs-12 {
    order: 12;
}

/* Small Devices, Tablets */

@media (min-width: $screen-sm-min) {
    .grid-s-12 {
        @include igGrid();
    }
    .grid-s-11 {
        @include igGrid(11);
    }
    .grid-s-10 {
        @include igGrid(10);
    }
    .grid-s-9 {
        @include igGrid(9);
    }
    .grid-s-8 {
        @include igGrid(8);
    }
    .grid-s-7 {
        @include igGrid(7);
    }
    .grid-s-6 {
        @include igGrid(6);
    }
    .grid-s-5 {
        @include igGrid(5);
    }
    .grid-s-4 {
        @include igGrid(4);
    }
    .grid-s-3 {
        @include igGrid(3);
    }
    .grid-s-2 {
        @include igGrid(2);
    }
    .grid-s-1 {
        @include igGrid(1);
    }
    //column width---------------------------------------//
    .col-s-1 {
        grid-column-start: span 1;
    }
    .col-s-2 {
        grid-column-start: span 2;
    }
    .col-s-3 {
        grid-column-start: span 3;
    }
    .col-s-4 {
        grid-column-start: span 4;
    }
    .col-s-5 {
        grid-column-start: span 5;
    }
    .col-s-6 {
        grid-column-start: span 6;
    }
    .col-s-7 {
        grid-column-start: span 7;
    }
    .col-s-8 {
        grid-column-start: span 8;
    }
    .col-s-9 {
        grid-column-start: span 9;
    }
    .col-s-10 {
        grid-column-start: span 10;
    }
    .col-s-11 {
        grid-column-start: span 11;
    }
    .col-s-12 {
        grid-column-start: span 12;
    }
    //column start width---------------------------------------//
    .col-str-s-1 {
        grid-column-start: 1;
    }
    .col-str-s-2 {
        grid-column-start: 2;
    }
    .col-str-s-3 {
        grid-column-start: 3;
    }
    .col-str-s-4 {
        grid-column-start: 4;
    }
    .col-str-s-5 {
        grid-column-start: 5;
    }
    .col-str-s-6 {
        grid-column-start: 6;
    }
    .col-str-s-7 {
        grid-column-start: 7;
    }
    .co-strl-s-8 {
        grid-column-start: 8;
    }
    .col-str-s-9 {
        grid-column-start: 9;
    }
    .col-str-s-10 {
        grid-column-start: 10;
    }
    .col-str-s-11 {
        grid-column-start: 11;
    }
    .col-str-s-12 {
        grid-column-start: 12;
    }
    .col-str-s-13 {
        grid-column-start: 13;
    }
    //column end width---------------------------------------//
    .col-end-s-1 {
        grid-column-end: 1;
    }
    .col-end-s-2 {
        grid-column-end: 2;
    }
    .col-end-s-3 {
        grid-column-end: 3;
    }
    .col-end-s-4 {
        grid-column-end: 4;
    }
    .col-end-s-5 {
        grid-column-end: 5;
    }
    .col-end-s-6 {
        grid-column-end: 6;
    }
    .col-end-s-7 {
        grid-column-end: 7;
    }
    .co-endl-s-8 {
        grid-column-end: 8;
    }
    .col-end-s-9 {
        grid-column-end: 9;
    }
    .col-end-s-10 {
        grid-column-end: 10;
    }
    .col-end-s-11 {
        grid-column-end: 11;
    }
    .col-end-s-12 {
        grid-column-end: 12;
    }
    .col-end-s-13 {
        grid-column-end: 13;
    }
    //column order width---------------------------------------//
    .col-ord-s-1 {
        order: 1;
    }
    .col-ord-s-2 {
        order: 2;
    }
    .col-ord-s-3 {
        order: 3;
    }
    .col-ord-s-4 {
        order: 4;
    }
    .col-ord-s-5 {
        order: 5;
    }
    .col-ord-s-6 {
        order: 6;
    }
    .col-ord-s-7 {
        order: 7;
    }
    .co-endl-s-8 {
        order: 8;
    }
    .col-ord-s-9 {
        order: 9;
    }
    .col-ord-s-10 {
        order: 10;
    }
    .col-ord-s-11 {
        order: 11;
    }
    .col-ord-s-12 {
        order: 12;
    }
}

/* Medium Devices, Desktops */

@media (min-width: $screen-md-min) {
    .grid-m-12 {
        @include igGrid();
    }
    .grid-m-11 {
        @include igGrid(11);
    }
    .grid-m-10 {
        @include igGrid(10);
    }
    .grid-m-9 {
        @include igGrid(9);
    }
    .grid-m-8 {
        @include igGrid(8);
    }
    .grid-m-7 {
        @include igGrid(7);
    }
    .grid-m-6 {
        @include igGrid(6);
    }
    .grid-m-5 {
        @include igGrid(5);
    }
    .grid-m-4 {
        @include igGrid(4);
    }
    .grid-m-3 {
        @include igGrid(3);
    }
    .grid-m-2 {
        @include igGrid(2);
    }
    .grid-m-1 {
        @include igGrid(1);
    }
    //column width---------------------------------------//
    .col-m-1 {
        grid-column-start: span 1;
    }
    .col-m-2 {
        grid-column-start: span 2;
    }
    .col-m-3 {
        grid-column-start: span 3;
    }
    .col-m-4 {
        grid-column-start: span 4;
    }
    .col-m-5 {
        grid-column-start: span 5;
    }
    .col-m-6 {
        grid-column-start: span 6;
    }
    .col-m-7 {
        grid-column-start: span 7;
    }
    .col-m-8 {
        grid-column-start: span 8;
    }
    .col-m-9 {
        grid-column-start: span 9;
    }
    .col-m-10 {
        grid-column-start: span 10;
    }
    .col-m-11 {
        grid-column-start: span 11;
    }
    .col-m-12 {
        grid-column-start: span 12;
    }
    
    //column start width---------------------------------------//
    .col-str-m-1 {
        grid-column-start: 1;
    }
    .col-str-m-2 {
        grid-column-start: 2;
    }
    .col-str-m-3 {
        grid-column-start: 3;
    }
    .col-str-m-4 {
        grid-column-start: 4;
    }
    .col-str-m-5 {
        grid-column-start: 5;
    }
    .col-str-m-6 {
        grid-column-start: 6;
    }
    .col-str-m-7 {
        grid-column-start: 7;
    }
    .co-strl-m-8 {
        grid-column-start: 8;
    }
    .col-str-m-9 {
        grid-column-start: 9;
    }
    .col-str-m-10 {
        grid-column-start: 10;
    }
    .col-str-m-11 {
        grid-column-start: 11;
    }
    .col-str-m-12 {
        grid-column-start: 12;
    }
    .col-str-m-13 {
        grid-column-start: 13;
    }
    //column end width---------------------------------------//
    .col-end-m-1 {
        grid-column-end: 1;
    }
    .col-end-m-2 {
        grid-column-end: 2;
    }
    .col-end-m-3 {
        grid-column-end: 3;
    }
    .col-end-m-4 {
        grid-column-end: 4;
    }
    .col-end-m-5 {
        grid-column-end: 5;
    }
    .col-end-m-6 {
        grid-column-end: 6;
    }
    .col-end-m-7 {
        grid-column-end: 7;
    }
    .co-endl-m-8 {
        grid-column-end: 8;
    }
    .col-end-m-9 {
        grid-column-end: 9;
    }
    .col-end-m-10 {
        grid-column-end: 10;
    }
    .col-end-m-11 {
        grid-column-end: 11;
    }
    .col-end-m-12 {
        grid-column-end: 12;
    }
    .col-end-m-13 {
        grid-column-end: 13;
    }
    //column order width---------------------------------------//
    .col-ord-m-1 {
        order: 1;
    }
    .col-ord-m-2 {
        order: 2;
    }
    .col-ord-m-3 {
        order: 3;
    }
    .col-ord-m-4 {
        order: 4;
    }
    .col-ord-m-5 {
        order: 5;
    }
    .col-ord-m-6 {
        order: 6;
    }
    .col-ord-m-7 {
        order: 7;
    }
    .co-endl-m-8 {
        order: 8;
    }
    .col-ord-m-9 {
        order: 9;
    }
    .col-ord-m-10 {
        order: 10;
    }
    .col-ord-m-11 {
        order: 11;
    }
    .col-ord-m-12 {
        order: 12;
    }
}

/* Large Devices, Desktops */

@media (min-width: $screen-lg-min) {
    .grid-l-12 {
        @include igGrid();
    }
    .grid-l-11 {
        @include igGrid(11);
    }
    .grid-l-10 {
        @include igGrid(10);
    }
    .grid-l-9 {
        @include igGrid(9);
    }
    .grid-l-8 {
        @include igGrid(8);
    }
    .grid-l-7 {
        @include igGrid(7);
    }
    .grid-l-6 {
        @include igGrid(6);
    }
    .grid-l-5 {
        @include igGrid(5);
    }
    .grid-l-4 {
        @include igGrid(4);
    }
    .grid-l-3 {
        @include igGrid(3);
    }
    .grid-l-2 {
        @include igGrid(2);
    }
    .grid-l-1 {
        @include igGrid(1);
    }
    //column width---------------------------------------//
    .col-l-1 {
        grid-column-start: span 1;
    }
    .col-l-2 {
        grid-column-start: span 2;
    }
    .col-l-3 {
        grid-column-start: span 3;
    }
    .col-l-4 {
        grid-column-start: span 4;
    }
    .col-l-5 {
        grid-column-start: span 5;
    }
    .col-l-6 {
        grid-column-start: span 6;
    }
    .col-l-7 {
        grid-column-start: span 7;
    }
    .col-l-8 {
        grid-column-start: span 8;
    }
    .col-l-9 {
        grid-column-start: span 9;
    }
    .col-l-10 {
        grid-column-start: span 10;
    }
    .col-l-11 {
        grid-column-start: span 11;
    }
    .col-l-12 {
        grid-column-start: span 12;
    }
    //column start width---------------------------------------//
    .col-str-l-1 {
        grid-column-start: 1;
    }
    .col-str-l-2 {
        grid-column-start: 2;
    }
    .col-str-l-3 {
        grid-column-start: 3;
    }
    .col-str-l-4 {
        grid-column-start: 4;
    }
    .col-str-l-5 {
        grid-column-start: 5;
    }
    .col-str-l-6 {
        grid-column-start: 6;
    }
    .col-str-l-7 {
        grid-column-start: 7;
    }
    .co-strl-l-8 {
        grid-column-start: 8;
    }
    .col-str-l-9 {
        grid-column-start: 9;
    }
    .col-str-l-10 {
        grid-column-start: 10;
    }
    .col-str-l-11 {
        grid-column-start: 11;
    }
    .col-str-l-12 {
        grid-column-start: 12;
    }
    .col-str-l-13 {
        grid-column-start: 13;
    }
    //column end width---------------------------------------//
    .col-end-l-1 {
        grid-column-end: 1;
    }
    .col-end-l-2 {
        grid-column-end: 2;
    }
    .col-end-l-3 {
        grid-column-end: 3;
    }
    .col-end-l-4 {
        grid-column-end: 4;
    }
    .col-end-l-5 {
        grid-column-end: 5;
    }
    .col-end-l-6 {
        grid-column-end: 6;
    }
    .col-end-l-7 {
        grid-column-end: 7;
    }
    .co-endl-l-8 {
        grid-column-end: 8;
    }
    .col-end-l-9 {
        grid-column-end: 9;
    }
    .col-end-l-10 {
        grid-column-end: 10;
    }
    .col-end-l-11 {
        grid-column-end: 11;
    }
    .col-end-l-12 {
        grid-column-end: 12;
    }
    .col-end-l-13 {
        grid-column-end: 13;
    }
    //column order width---------------------------------------//
    .col-ord-l-1 {
        order: 1;
    }
    .col-ord-l-2 {
        order: 2;
    }
    .col-ord-l-3 {
        order: 3;
    }
    .col-ord-l-4 {
        order: 4;
    }
    .col-ord-l-5 {
        order: 5;
    }
    .col-ord-l-6 {
        order: 6;
    }
    .col-ord-l-7 {
        order: 7;
    }
    .col-ord-l-8 {
        order: 8;
    }
    .col-ord-l-9 {
        order: 9;
    }
    .col-ord-l-10 {
        order: 10;
    }
    .col-ord-l-11 {
        order: 11;
    }
    .col-ord-l-12 {
        order: 12;
    }
}