/*for border radius*/
.rounded{
    border-radius: $border-radius-default *25;
    &.btn{
        border-radius: $border-radius-default *25;
    }
    >.btn{
        border-radius: $border-radius-default *25;
    }
}



